<div class="container l-grid l-grid--col-6">
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
    <div class="card-container">
      <div class="card--movie">
        <div class="card--movie__image">
          <img src="../images/shrek.png" alt="">
        </div>
        <div class="movie__info">
          <div class="movie-card--header">
            <h2 class="movie-card__heading">Shrek</h2>
            <div class="movie-card__rating">7.5</div>
          </div>
        </div>
      </div>
      <div class="card--movie--overview overlap">
        <h2 class="overview__heading">Overview</h2>
        <p class="overview__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facere possimus voluptas pariatur reiciendis hic magni 
          consectetur, molestias ipsum eveniet eum, nobis quaerat 
          quae nulla fugiat ab dignissimos! Facere veritatis debitis 
          aspernatur qui deserunt numquam alias dolores optio animi 
          adipisci dolor hic, earum ad aliquid ut beatae eum fugit 
          quod distinctio voluptatum sequi. Beatae harum praesentium 
          recusandae. Nulla eaque sunt voluptatum?
        </p>
      </div>
    </div>
  </div>